<%= form_for(@office) do |f| %>
  <% if @office.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@office.errors.count, "error") %> prohibited this office from being saved:</h2>

      <ul>
      <% @office.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :office_name %><br>
    <%= f.text_field :office_name %>
  </div>
  <div class="field">
    <%= f.label :geoinfo %><br>
    <%= f.text_field :geoinfo %>
  </div>
  <div class="field">
    <%= f.label :geofence %><br>
    <%= f.text_field :geofence %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
