<p id="notice"><%= notice %></p>

<p>
  <strong>In out:</strong>
  <%= @status.in_out %>
</p>

<p>
  <strong>On off:</strong>
  <%= @status.on_off %>
</p>

<p>
  <strong>Status select:</strong>
  <%= @status.status_select_id %>
</p>

<p>
  <strong>Current location:</strong>
  <%= @status.current_location %>
</p>

<p>
  <strong>Return:</strong>
  <%= @status.return %>
</p>

<p>
  <strong>Employee:</strong>
  <%= @status.employee_id %>
</p>

<%= link_to 'Edit', edit_status_path(@status) %> |
<%= link_to 'Back', statuses_path %>
