<%- model_class = StatusSelect -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:status) %>:</strong></dt>
  <dd><%= @status_select.status %></dd>
  <dt><strong><%= model_class.human_attribute_name(:status_type) %>:</strong></dt>
  <dd><%= @status_select.status_type %></dd>
  <dt><strong><%= model_class.human_attribute_name(:icon) %>:</strong></dt>
  <dd><%= @status_select.icon %></dd>
</dl>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              status_selects_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_status_select_path(@status_select), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              status_select_path(@status_select),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
</div>
