
<!-- <h1>Locations:</h1> -->

<!-- setting up in/out lists for each office location -->
<% @all_offices.each do |office| %>
<% max_list_height = ((office.employees.count) * 35) + 45 %>
<div class="row">
<h3><%= office.geoinfo %> - <%= office.office_name %></h3>

<!-- in card -->

<div style="height: <%= max_list_height %>px" 
	class="list sortable" 
	id="office_in_<%= office.id %>">
	<ul><h5>In the Office</h5>
		<% office.employees.each do |employee| %>
			<% if employee.statuses.last %> <!-- Check to see if a status record exists -->
			<% if employee.statuses.last.in_out == true %> <!-- Check to see if status.in_out record is set to 'true' -->
			<li id="employee_<%= employee.id %>" class="card employee-working">
				<i class="bgsmcircle fa fa-user"></i>
				<%= employee.title_first_last %>
			</li>
			<% end %>
			<% end %>
		<% end %>
	</ul>
</div>

<!-- out card -->

<div style="height: <%= max_list_height %>px" 
	class="list sortable" 
	id="office_out_<%= office.id %>">
	<ul><h5>Out of the Office</h5>
		<% office.employees.each do |employee| %>
			<% unless employee.statuses.last %> <!-- Unless a status record exists... -->
			<!-- ...create new Statuses record with in_out: false and on_off: false -->
				<% employee.statuses.create(in_out: false, on_off: false) %>
			<% end %>
			<% unless employee.statuses.last.in_out == true %>
			<% if employee.statuses.last.on_off == true %>
			<li id="employee_<%= employee.id %>" class="card employee-working">
			<% else %>
			<li id="employee_<%= employee.id %>" class="card employee-not-working">
			<% end %>
				<i class="bgsmcircle fa fa-user"></i>
				<%= employee.title_first_last %>
			</li>
			<% end %>
		<% end %>
	</ul>
</div>

</div>
<% end %>
