
<!-- <h1>Locations:</h1> -->

<% @all_offices.each do |office| %>
<h3><%= office.geoinfo %> - <%= office.office_name %></h3>

<div style="height: <%= ((office.employees.count) * 35) + 45 %>px" 
	class="span4 list sortable" 
	id="<%= office.id %>">
	<ul><h5>In</h5>
		<% office.employees.pluck(:title, :first_name, :last_name).each do |employee| %>
		<li class="card ui-state-default">
			<i class="bgsmcircle fa fa-user"></i>
			<% employee.each do |first_last|%>
			<%= first_last %>
			<% end %>
		</li>
		<% end %>
	</ul>
</div>

<div style="height: <%= ((office.employees.count) * 35) + 45 %>px" 
	class="span4 list sortable" 
	id="<%= office.id %>">
	<ul><h5>Out</h5>
		<% office.employees.pluck(:title, :first_name, :last_name).each do |employee| %>
		<li class="card ui-state-default">
			<i class="bgsmcircle fa fa-user"></i>
			<% employee.each do |first_last|%>
			<%= first_last %>
			<% end %>
		</li>
		<% end %>
	</ul>
</div>

<% end %>


