
<!-- <h1>Locations:</h1> -->

<!-- setting up in/out lists for each office location -->
<% @all_offices.each do |office| %>
<% max_list_height = ((office.employees.count) * 35)%>



<h3><%= office.geoinfo %> - <%= office.office_name %></h3>
<div id="office_<%= office.id %>" class="office drag-boundary">
<!-- in list -->
<div class="list" style="overflow-y:auto">
	<h5>In the Office</h5>
	<ul id="in" class="in-the-office sortable" style="overflow-y:auto">
		<% office.employees.each do |employee| %>
			<% if employee.statuses.last %> <!-- Check to see if a status record exists -->
			<% if employee.statuses.last.in_out == true %> <!-- Check to see if status.in_out record is set to 'true' -->
			<li id="employee_<%= employee.id %>" class="card employee-working">
				<i class="bgsmcircle fa fa-user"></i>
				<%= employee.title %> <%=employee.full_name%>
			</li>
			<% end %>
			<% end %>
		<% end %>
	</ul>
</div>

<!-- out list -->
<div class="list" style="overflow-y:auto">
	<h5>Out of the Office</h5>
	<ul id="out" class="out-of-the-office sortable" style="overflow-y:auto">
		<% office.employees.each do |employee| %>
			<% unless employee.statuses.last %> <!-- Unless a status record exists... -->
			<!-- ...create new Statuses record with in_out: false and on_off: false -->
				<% employee.statuses.create(in_out: false, on_off: false) %>
			<% end %>
			<% unless employee.statuses.last.in_out == true %>
			<% if employee.statuses.last.on_off == true %>
			<li id="employee_<%= employee.id %>" class="card employee-working">
			<% else %>
			<li id="employee_<%= employee.id %>" class="card employee-not-working">
			<% end %>
				<i class="bgsmcircle fa fa-user"></i>
				<%= employee.title %> <%=employee.full_name%>
			</li>
			<% end %>
		<% end %>
	</ul>
</div>

</div>
<% end %>
